<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/navbar.ejs')%>

<div class="container">
    <hr>
    <h2>Categorias</h2>
    <a class="btn btn-success" href="/admin/categories/new">Criar Categoria</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titulo</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <TBody>
            <% categories.forEach(category => { %>
            <tr>
                <th><%= category.id %></th>
                <th><%= category.title %></th>
                <th><%= category.slug %></th>
                <th>
                    <form action="/admin/categories/edit/<%= category.id %>" style="display: inline" method="GET">
                        <button class="btn btn-warning">Editar</button>
                    </form>

                    <form onsubmit="confirmarDelecao(event, this)" style="display: inline" method="POST"
                        action="/admin/categories/delete">
                        <input type="hidden" name="id" value="<%= category.id %>">
                        <button class="btn btn-danger">Deletar</button>
                    </form>
                </th>
            </tr>
            <%  }) %>
        </TBody>
    </table>
</div>
<script>
    function confirmarDelecao(event, form) {
        event.preventDefault();
        console.log("bloqueio");
        var decision = confirm("Você quer deletar esta categoria?")
        if (decision) {
            form.submit();
        }
    }
</script>

<%- include ('../../partials/footer.ejs')%>